{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'styles/auth.css' %}" rel="stylesheet">
</head>
<body>

  <div class="auth-container">

    <div id="content">


      <div class="image-box">

          <div class="image-and-text-container">
            <center>
            <img src="{% static 'img/buka.png' %}" />
            
              <p>Welcome secure credentials below</p>
            {% if error %}
                <p style="color:red;">{{ error }}</p>
            {% endif %}
            </center>

          </div>
          
      </div>
          

    
      <div class="content-container">
        {% block content %}
        {% endblock %}
      </div>
      

    </div>
    
  </div>

</body>
</html>
