{% extends "account/dashboard.html" %}
{% load static %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block content %}

    <div class="header-wrap">
      <a href="{% url 'shop:product_list' %}">
          <div class="site-id">
              <img src="{% static '/img/back.svg' %}" />
          </div>
      </a>
    </div>

      <!-- section -->
    <div class="section">

     
      
      {% with total_items=cart|length %}

        {% if total_items > 0 %}
          <h1>
            Your shopping cart
            <a href="{% url 'cart:cart_detail' %}">
              {{ total_items }} item{{ total_items|pluralize }},
              &#x20A6 {{ cart.get_total_price }}
            </a>  
          </h1>
 


          <div class="shop-container for-cart">

            <div class="container-of-containers">

                <div class="cart-item-container">

                {% for item in cart %}
                  {% with product=item.product %}

                    <div class="cart-item-card">

                      <div class="cart-img-details">

                          <div class="cart-item-img-box">
                              <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}{{ product.image.url }}
                                {% else %}{% static 'img/no_image.png' %}{% endif %}">
                              </a>
                          </div>

                          <div class="cart-item-details">
                              <p>{{ product.name }}</p>
                              <p style="margin: 0;"> &#x20A6 {{ item.total_price }}</p>
                              <!-- ${{ item.price }} @  -->
                          </div>
                      </div>

                      <div class="cart-qty-control">

                        <div class="qty-control-card">

                            <form action="{% url 'cart:cart_add' product.id %}" method="post" class="update-qty">
                              {{ item.update_quantity_form.quantity }}
                              {{ item.update_quantity_form.override }}
                              <input type=image src="{% static 'img/icons/addcircle.svg' %}" alt="Submit feedback">
                              {% csrf_token %}
                            </form>

                        </div>

                        <div class="qty-control-card">
                            <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                              <input type="image" src="{% static 'img/icons/delete.svg' %}" value="Remove" >
                              {% csrf_token %}
                            </form>
                        </div>

                      </div>

                    </div>

                  {% endwith %}
                {% endfor %}

                </div>

                <a href="{% url 'shop:product_list' %}" >
                    <button style="width:180px; height:44px; margin-bottom:12px;">Continue shopping</button>
                </a>

            </div>

            <div class="aside-container aside-container-for-cart" >

                <!-- <h4>Categories</h4> -->

                <div class="user-profile">

                    <!-- Categories -->
                    <div class="user-func">
                        <div class="icon-and-text">
                            <div class="func-icon"><img src="{% static 'img/icons/verified.svg' %}"></div>
                            <h4>Order Summary</h4>
                        </div>
                        <!-- <h4>(3)</h4> -->
                    </div>

                </div>

                <div class="cart-summary-box">

                  <ol>
                    {% for item in cart %}
                      <li>
                        {{ item.quantity }}x {{ item.product.name }}
                        <span> &#x20A6 {{ item.total_price }}</span>
                      </li>
                    {% endfor %}
                  </ol>
                  <h4>Total: &#x20A6 {{ cart.get_total_price }}</h4>

                  <form method="post" action= "{% url 'orders:order_create' %}">
                    {{ form.as_p }}
                    <p><input type="submit" value="Place order"></p>
                    {% csrf_token %}
                  </form>

                   <!-- <a href="{% url 'orders:order_create' %}" >Checkout</a> -->

                </div>

                

            </div>

          </div>

        {% elif not order %}

          <h1>Your cart is empty.</h1>
          <div class="message-container">
            <center>
              <div class="message-container-image-box">
                <img src="{% static 'img/none.png' %}" width="320px"/>
              </div>
              <a href="{% url 'shop:product_list' %}" >
                <button style="width:180px; height:44px; margin-bottom:12px;">Continue shopping</button>
            </a>
            </center>
            
          </div>

        {% endif %}
      {% endwith %}
      
        

   

    </div>

{% endblock %}
