{% extends "account/dashboard.html" %}
{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}
{% block content %}

    <div class="header-wrap">
        <a href="{% url 'shop:product_list' %}">
            <div class="site-id">
                <img src="{% static '/img/back.svg' %}" />
            </div>
        </a>
    </div>

  <div class="main desk-comp">


      <div class="detail-container">

        <div class="detail-container-image">

            <div class="item detail">
                <div class="item-img-box">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}
                    {% static 'img/no_image.png' %}{% endif %}" />
                </div>   
            </div>

        </div>

        <div class="details-container-text">


          <div class="item-detail">
              <div class="desc">
                  <div class="icntext-container">
                      <div class="icn-img">
                          <img src="{% static '/img/villa.svg' %}" />
                      </div>
                      <div class="icn-text">
                          <h3>{{ product.name }}</h3>
                      </div>
                  </div>
                  <div class="icn2">
    
                      <div class="icntext-container left">
                          <div class="icn-img">
                              <img src="{% static '/img/location.svg' %}" />
                          </div>
                          <div class="icn-text">
                              <p>{{ product.category }}</p>
                          </div>
                      </div>
    
                      <div class="icntext-container">
                          <div class="icn-img" style="margin: 0px;">
                              <img src="{% static 'img/pay.svg' %}" />
                          </div>
                          <div class="icn-text">
                              <p class="formatted-price">{{ product.price }}</p>
                          </div>
                      </div>
    
                  </div>
              </div>
    <!--            <button class="itm-btn">Copy</button>-->
          </div>
    
          <div class="section-header">
              <h2>Description</h2>
          </div>
    
          <p>{{ product.description }}</p>
    
          <div class="section-header">
              <h3>Budget Analysis</h3>
          </div>
    
          <form action="{% url 'cart:cart_add' product.id %}" method="post">
              {{ cart_product_form }}
              {% csrf_token %}
              <input type="submit" value="Add to cart" style="width: 320px;">
          </form>


        </div>

      </div>



<!--      <a href="#"><button>Schedule Pick up</button></a>-->

  </div>


{% endblock %}
