{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link type="text/css" href="{% static 'styles/style.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'styles/detail.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'styles/success.css' %}" rel="stylesheet" />
    <link type="image/x-icon" href="{% static 'img/est.ico' %}" rel="icon" />
</head>
<body>
    
<!--    <div id="header">-->

<!--        <div class="header-wrap">-->
<!--            <a href="{% url 'browser:index' %}">-->
<!--                <div class="site-id">-->
<!--                    &lt;!&ndash; <img src="../img/back.svg" /> &ndash;&gt;-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--        -->
<!--    </div>-->

    <div class="main">


        <div class="center-box">
            <center>
                <div class="msg">
                    <img src="{% static 'img/err.png' %}" width="240px"/>
                    <h4>Wahala Wahala!</h4>
                    <p>
                        {{ error }}
                    </p>
                </div>

                <a href="{% url 'browser:index' %}" ><button style="margin-bottom: 15px;">Continue browsing</button></a>
            </center>
        </div>





    </div>


</body>
</html>