{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspection Form</title>
    <link type="text/css" href="{% static 'styles/style.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'styles/detail.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'styles/inspection.css' %}" rel="stylesheet" />
    <link type="image/x-icon" href="{% static 'img/est.ico' %}" rel="icon" />
    <script src="{% static 'js/main.js' %}"></script>

</head>
<body>
    
    <div id="header">

        <div class="header-wrap">
            <a  onclick="history.back()">
                <div class="site-id">
                    <img src="{% static 'img/back.svg' %}" />
                </div>
            </a>
        </div>
        
    </div>

    <div class="header-pad"></div>

    <div class="main login">

        <div class="section-header">
            <h2>Schedule Delivery</h2>
        </div>

        <p class="agreement">
            By applying, You agree to our <a href="{% url 'browser:legal' %}" >T&C.</a>
        </p>

        <!-- container component -->
<!--        <div class="container detail">-->
<!--            <div class="item">-->
<!--                <div class="item-img-box item-detail">-->
<!--                    <img src="../img/cloth.jpg" />-->
<!--                </div>   -->
<!--            </div>-->
<!--        </div>-->

        <form method="POST">
            {% csrf_token %}
            {{ form }}

            <!-- Hidden input field for estate_id -->
            <!-- <input type="hidden" name="estate_id" id="id_estate_id" value=""> -->

            <button>Shedule Order</button>


        </form>




    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function() {

            // Retrieve estateId from local storage
            var estateId = localStorage.getItem('EstateId');

            // Set the value of the hidden input field
            var estateIdInput = document.getElementById('id_estate_id');
            if (estateIdInput && estateId !== null && estateId !== '') {
                estateIdInput.value = estateId;
                localStorage.removeItem('EstateId');

            }
        });
    </script>


</body>
</html>