{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link type="text/css" href="{% static 'styles/style.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'styles/detail.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'styles/inspection.css' %}" rel="stylesheet" />
    <script src="{% static 'js/main.js' %}"></script>
    <link type="image/x-icon" href="{% static 'img/est.ico' %}" rel="icon" />
</head>
<body>

    <div id="header">

        <div class="header-wrap">
            <div class="header-wrap">
                <a href="{% url 'browser:index' %}">
                    <div class="site-id">
                        <img src="{% static 'img/back.svg' %}" />
                    </div>
                </a>
            </div>
        </div>
        
    </div>

    <div class="header-pad"></div>
    
    <div class="main login">

        <div class="section-header">
            <h2>Login</h2>
        </div>

        <p class="Agreement">
            Track and manage your applications
        </p>

        <div class="error-box">
            <p class="error">{{ error }}</p>
        </div>
        
        <form action="{% url 'authenticator:login' %}" method="POST">
            {% csrf_token %}
             <input type="text" name="name" placeholder="Nick-name " required  oninput="convertToUpperCase(this)"/>
             <input type="text" name="password" placeholder="Phone number" pattern="(080|070|090|081)\d{8}" required maxlength="11"/>
             <button>Log in</button>
        </form>

    </div>

</body>
</html>