{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khalid Kitchen's {% block title %} {% endblock %}™</title>
    <link type="text/css" href="{% static 'styles/style.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'styles/prynav.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'styles/detail.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'styles/cart.css' %}" rel="stylesheet" />
    <!-- <script src="{% static 'js/jquery.js' %}"></script> -->
    <link type="image/x-icon" href="{% static 'img/est.ico' %}" rel="icon" />
</head>
<body>
    
    <div id="header">

        <div class="header-wrap">

            <div style="display: flex; justify-content: space-between; align-items: center;">

                <a href="{% url 'browser:legal' %}">
                    <div class="site-id">
                        <img src="{% static 'img/est.svg' %}" />
                    </div>
                </a>

                <form method="POST" action="{% url 'cart:cart_detail' %}">
                    {% csrf_token %}
                    <button class="itm-btn" style="background-color: white; color: black; margin-inline: 12px;">Cart({% with total_items=cart|length %}{% if total_items > 0 %}{{ total_items }}{% elif not order %}0{% endif %}{% endwith %})</button>
                </form>

                    
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="itm-btn" style="background-color: red; margin-inline: 12px;">Log out</button>
                </form>
    

            </div>

            
            <a href="{% url 'edit' %}" style="margin-inline:8px">
                <div class="profile">
                    <img src="{% if request.user.profile.photo %} {{ request.user.profile.photo.url }} {% else %} {% static 'img/user.jpg' %} {% endif %}" />
                </div>
            </a>


        </div>

    </div>

    <div class="header-pad"></div>

    <div class="main">



        {% block content %}{% endblock %}




    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>