{% extends "base.html" %}
{% load static %}
{% block title %}Edit your account{% endblock %}

{% block header %}
    <div id="header">

      <div class="header-wrap">
          <a href="{% url 'shop:product_list' %}">
              <div class="site-id">
                  <img src="{% static '/img/back.svg' %}" />
              </div>
          </a>
      </div>

  </div>
    <div class="header-pad"></div>
{% endblock %}

{% block content %}

    <h1>Edit your account</h1>
    <p>You can edit your account using the following form:</p>
    <form method="post" enctype="multipart/form-data">
        <div class="long-form">
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
        </div>

        {% csrf_token %}
        <p><input type="submit" value="Save changes"></p>
    </form>
    <h5><a href="{% url 'password_change' %}">Change password</a> </h5>
{% endblock %}
