{% extends "admin_base.html" %}
{% load static %}

{% block title %}Create an account{% endblock %}

{% block content %}

    <h2>Customer Orders</h2>
    <div>

        <div class="user-profile">

                    <!-- Categories -->
                    <div class="user-func">
                        <div class="icon-and-text">
                            <div class="func-icon"><img src="{% static 'img/icons/verified.svg' %}"></div>
                            <h4>Order Summary</h4>
                        </div>
                        <!-- <h4>(3)</h4> -->
                    </div>

        </div>

        <div class="cart-summary-box">
            <h3>{{ order_item.order.email }}</h3>

            <h3>{{ order_item.order.created }}</h3>

            <ol>

              <li>
                {{ order_item.quantity }}x {{ order_item.product.name }}
                <span> &#x20A6 {{ order_item.price }}</span>
              </li>

              <li>
                {{ order_item.order.email }}
              </li>

            </ol>
            <h4>Total: &#x20A6 {{ order_item.price }}</h4>

            <hr/>

            <a href="{% url 'shop:product_list' %}" >
              <button style="height:44px;">Continue shopping</button>
            </a>

            <!-- <a href="{% url 'orders:order_create' %}" >Checkout</a> -->

        </div>

    </div>

{% endblock %}
